:root {
    --primary: #005eb8;
}


.home-list-item {
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
}

.home-list-item:hover {
    background-color: rgba(0, 74, 143, 1) !important;
    color: #fff !important;
}

.home-title {
    color: var(--primary);
}